[user]
	name = Nick Pollard
	email = nickedwardpollard@gmail.com
[color]
	ui = true
[core]
	pager = cat
[push]
	default = simple
[format]
	pretty = %h %Cblue%ar%x09%Cred%aN%Creset%x09%s %C(yellow)%d%Creset
